p,
h1,
h2,
h3 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  background-color: #e5e5e5;
  font-family: "Open Sans";
  padding: 15px;
}

.dr_logo-box {
  display: none;
}

.dr_container {
  max-width: 1050px;
  margin: 0 auto;

  background-color: #ffffff;
  border-radius: 3px;
}

.list {
  list-style: none;
}

.link {
  font-style: normal;
  display: inline-block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ------------------header--------------- */

.dr_header {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.dr_header-logo {
  padding: 5px;
}

.dr_nav {
  display: flex;
  align-items: center;
}

.dr_nav-item {
  display: flex;
  align-items: center;
}

.dr_nav-text {
  color: #5bb449;

  font-weight: 400;
  font-size: 18px;
}

.dr_nav .link:hover,
.dr_nav .link:focus {
  text-decoration: none;
}

.dr_nav-item:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 30px;
  background-color: #757575;
  margin-left: 20px;
  margin-right: 20px;
}

.dr_nav-icon-position {
  display: flex;
  align-items: center;
}

.dr_nav-icon {
  margin-right: 5px;
  fill: currentColor;
}

/* ----------------------hero-------------------- */

.dr_hero {
  padding: 0px 200px 80px 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dr_hero-title {
  font-size: 36px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 20px;
  text-align: center;
}

.dr_hero-text-desk {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
}

.dr_hero-text-mob {
  display: none;
  color: #000000;
}

/* --------------------form--------------------- */

.dr_form {
  padding: 0px 150px 100px 150px;
}

.dr_form-box {
  text-align: center;
}

.dr_form-link-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.dr_active-link {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}

.dr_form-link {
  color: #5bb449;
  font-size: 15px;
  font-weight: 600;
}

.dr_form-link:hover,
.dr_form-link:focus {
  text-decoration: none;
}

.dr_form-link-span {
  content: "";
  display: block;
  width: 2px;
  height: 30px;
  background-color: #5bb449;
  margin-left: 25px;
  margin-right: 25px;
}

.dr_form-link-img {
  margin-right: 5px;
  vertical-align: middle;
}

.dr_form-1 {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.dr_input-group-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  gap: 15px;
}

.dr_input-group-2 {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.dr_input {
  border: 1px solid #aeaeae;
  padding: 15px;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 3px 0px 0px 3px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 400;
  height: 60px;
  color: #aeaeae;
}

.dr_input-1 {
  background-image: url("./images/search.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
  max-width: 100%;
  width: 470px;
  padding: 15px 15px 15px 40px;
}

.dr_input-2,
.dr_input-3,
.dr_input-4 {
  width: 100%;
  border-radius: 3px;
  max-width: 215px;
}

.dr_input-5 {
  width: 480px;
  border-radius: 3px;
}

.dr_form-btn {
  display: inline-block;
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  background-color: #5bb449;
  border: none;
  border-radius: 0px 3px 3px 0px;
  width: 213px;
  height: 60px;
  padding: 10px 20px;

  vertical-align: middle;
}

.dr_form-btn-2 {
  border-radius: 3px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

.dr_input-group-2 input[type="date"] {
  position: relative;
  padding-right: 40px;
  background-image: url(./images/calendar.svg);
  background-position: right 10px center;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  appearance: none;
}

/* --------------------------------services--------------------------- */

.dr_services {
  padding: 0px 150px 100px 150px;
}

.dr_services-list {
  display: flex;
  justify-content: center;
  gap: 20px 90px;
  flex-wrap: wrap;
}

.dr_services-item {
  flex: 1 1 50%;
  max-width: 280px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.dr_services-text-desk {
  font-size: 18px;
  font-weight: 400;
}

.dr_services-text-mob {
  display: none;
}

.dr_services-img {
  margin-right: 10px;
}

/* ------------------------questions----------------------- */

.dr_questions {
  padding: 0px 150px 130px 150px;
  display: flex;
  justify-content: center;
}

.dr_questions-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.dr_questions-item:not(:last-child) {
  margin-bottom: 30px;
}

.dr_questions-text {
  color: #5bb449;
  font-size: 21px;
  font-weight: 600;
}

.dr_questions-text {
  display: block;
}

.dr_questions-list-mob {
  display: none;
}

.dr_questions-text:hover,
.dr_questions-text:focus {
  text-decoration: none;
}

.dr_questions-box {
  max-width: 650px;
}

@media (max-width: 1015px) {
  .dr_hero {
    padding: 0px 30px 30px 30px;
  }

  .dr_form {
    padding: 0px 30px 40px 30px;
  }

  .dr_input-1 {
    width: 300px;
  }

  .dr_services {
    padding: 0px 30px 30px 30px;
  }

  .dr_questions {
    padding: 0px 30px 50px 30px;
  }
}

@media (max-width: 650px) {
  body {
    padding: 15px;
  }

  .dr_logo-box {
    display: flex;
    justify-content: center;
    padding: 0px 15px 15px 15px;
  }

  .dr_header-logo {
    display: none;
  }

  .dr_container {
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .dr_header {
    justify-content: center;
    padding: 20px;
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }

  .dr_nav-text {
    font-size: 16px;
  }

  .dr_nav-item:not(:last-child)::after {
    margin-left: 10px;
    margin-right: 10px;
  }

  .dr_hero {
    padding: 50px 20px;
  }

  .dr_hero-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .dr_hero-text-desk {
    display: none;
  }

  .dr_hero-text-mob {
    display: block;
    font-size: 16px;
    font-weight: 400;
    max-width: 315px;
    text-align: center;
    color: #000000;
  }

  .dr_hero-img {
    display: none;
  }

  .dr_services {
    padding: 0px 20px 50px 20px;
  }

  .dr_services-text-desk {
    display: none;
  }

  .dr_services-text-mob {
    display: block;
    font-size: 16px;
    font-weight: 400;
  }

  .dr_questions {
    padding: 0px 20px 50px 20px;
  }

  .dr_questions-list-desk {
    display: none;
  }

  .dr_questions-list-mob {
    display: block;
  }

  .dr_form {
    padding: 0px 20px 50px 20px;
  }

  .dr_input {
    margin-bottom: 20px;
    border-radius: 3px;
  }

  .dr_form-btn {
    border-radius: 3px;
    width: 100%;
  }

  .dr_input-1 {
    width: 100%;
  }

  .dr_form-link-span {
    margin-left: 10px;
    margin-right: 10px;
  }

  .dr_input-group-1,
  .dr_input-group-2 {
    flex-direction: column;
    justify-content: center;
    gap: 0;
    margin-bottom: 0;
  }

  .dr_input-2,
  .dr_input-3,
  .dr_input-4,
  .dr_input-5 {
    max-width: 100%;
    width: auto;
  }

  .dr_questions-title {
    font-size: 20px;
  }

  .dr_questions-text {
    font-size: 18px;
  }
}

@media (max-width: 350px) {
  .dr_active-link {
    font-size: 14px;
  }

  .dr_form-link {
    font-size: 14px;
  }

  .dr_services-text-mob {
    font-size: 14px;
  }
  .dr_nav-text {
    font-size: 14px;
  }

  .dr_hero {
    padding: 30px 20px;
  }
  .dr_form,
  .dr_services,
  .dr_questions {
    padding: 0px 20px 30px 20px;
  }

  .dr_form-link-box {
    flex-wrap: wrap;
    gap: 10px;
  }

  .dr_form-link-span {
    display: none;
  }

  .dr_input {
    padding: 10px;
    font-size: 14px;
    height: 45px;
  }

  .dr_input-1 {
    padding: 10px 10px 10px 35px;
    font-size: 14px;
    height: 45px;
  }

  .dr_form-btn {
    font-size: 16px;
    padding: 5px 10px;
    height: 45px;
  }

  .dr_questions-title {
    font-size: 18px;
  }

  .dr_questions-text {
    font-size: 16px;
  }
  

  .dr_hero-title{
    font-size: 20px;
  }
}
